
###> symfony/framework-bundle ###
/.env
.env
sara-6c71d-firebase-adminsdk-fbsvc-b1947682e7.json
/sara-6c71d-firebase-adminsdk-fbsvc-b1947682e7.json
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# Uploads directory (fichiers uploadés par les utilisateurs)
/public/uploads/

# Migrations directory (migrations générées)
/migrations/

# Node.js dependencies
node_modules/
**/node_modules/

# Firebase credentials (NE JAMAIS COMMITER)
**/firebase-adminsdk*.json
sara-6c71d-firebase-adminsdk-fbsvc-b1947682e7.json
