<!-- Small Device Overlay Start -->
<div
  :class="sidebarToggle ? 'block xl:hidden' : 'hidden'"
  @click="sidebarToggle = false"
  class="fixed z-50 h-screen w-full bg-gray-900/50 backdrop-blur-sm"
></div>
<!-- Small Device Overlay End -->

